body{
	font-family: 'Courier New', monospace;
}
	
.header{
	background-color: black;
	color: White;
}
			
h1{
	margin-bottom: -6px;
}

h3{
	font-size: 23px;
}
		
ul{
	list-style:none;
}
		
.grid-container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}
		
.about{
	font-size: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
		
.education{
	width: auto;
	height: auto;
	background-image: url('img/education.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 20px;
	color: white;
	text-align: center;
}
		
.skill{
	font-size: 20px;
	text-align: center;
}

.portfolio{
	font-size: 20px;
	text-align: center;
	background-color: blue;
	color: yellow;
}
		
.contact{
	font-size: 20px;
	color: white;
	background-color: grey;
}
		
.image-container{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto-fit, minmax(100px, 1fr);
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
		
#large{
	grid-column: span 2;
}
		
.image img{
	width: auto;
	height: 100px;
}
		
.social img{
	width: auto;
	height: 50px;
	margin: 4px 4px 4px 4px;
}
		
#links{
	float:left;
	margin-right:20px;
			
}